In [1]:
import pandas

In [2]:
df = pandas.read_excel('s3://ia241-spring2022-hayward/Diamonds.xls')

In [3]:
df[:10]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [4]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [6]:
df["PRICE"]

0       1302
1       1510
2       1510
3       1260
4       1641
       ...
303     8175
304    10796
305     9890
306     8959
307     9107
Name: PRICE, Length: 308, dtype: int64

In [8]:
df[1:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [9]:
df.loc[df['PRICE']>1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

In [11]:
df.loc[df['PRICE']<1000]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
151   152    0.18     F    VVS1   IGI    823
152   153    0.18     F    VVS2   IGI    765
153   154    0.18     G      IF   IGI    803
154   155    0.18     G      IF   IGI    803
155   156    0.18     G    VVS2   IGI    705
156   157    0.18     H      IF   IGI    725
157   158    0.19     D    VVS2   IGI    967
159   160    0.19     F      IF   IGI    967
160   161    0.19     F    VVS1   IGI    863
161   162    0.19     F    VVS2   IGI    800
162   163    0.19     G      IF   IGI    842
163   164    0.19     G    VVS1   IGI    800
164   165    0.19     H      IF   IGI    758
165   166    0.20     D     VS1   IGI    880
166   167    0.20     G      IF   IGI    880
167   168    0.20     G     VS1   IGI    705
168   169    0.20     G     VS2   IGI    638
169   170    0.21     D     VS1   IGI    919
172   173    0.21     G      IF   IGI    919
176   177    0.23     G      IF   IGI    995

In [19]:
df.loc[df['WEIGHT'] < .20 ]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
151   152    0.18     F    VVS1   IGI    823
152   153    0.18     F    VVS2   IGI    765
153   154    0.18     G      IF   IGI    803
154   155    0.18     G      IF   IGI    803
155   156    0.18     G    VVS2   IGI    705
156   157    0.18     H      IF   IGI    725
157   158    0.19     D    VVS2   IGI    967
158   159    0.19     E      IF   IGI   1050
159   160    0.19     F      IF   IGI    967
160   161    0.19     F    VVS1   IGI    863
161   162    0.19     F    VVS2   IGI    800
162   163    0.19     G      IF   IGI    842
163   164    0.19     G    VVS1   IGI    800
164   165    0.19     H      IF   IGI    758

In [21]:
df['COLOR'].value_counts()

F    82
G    65
H    61
E    44
I    40
D    16
Name: COLOR, dtype: int64

In [22]:
df['COLOR'].count()

308

In [24]:
df['PRICE'].mean()

5019.483766233766

In [25]:
df['PRICE'].min()

638

In [26]:
df['PRICE'].max()

16008

In [27]:
df['PRICE'].std()

3403.115715012962

In [23]:
df.groupby('COLOR').mean()

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [32]:
df.groupby('CLARITY').mean()['PRICE']

CLARITY
IF      2694.772727
VS1     5057.037037
VS2     5858.169811
VVS1    5567.634615
VVS2    5356.551282
Name: PRICE, dtype: float64

In [37]:
df['UNIT_PRICE'] = df['PRICE'] / df['WEIGHT']
df[:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   UNIT_PRICE
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

In [42]:
from scipy import stats

In [45]:
result = stats.linregress(df['WEIGHT'],df['PRICE'])

In [46]:
print ('Slope is {}'.format(result.slope))

Slope is 11598.884012882309

In [47]:
print ('Intercept is {}'.format(result.intercept))

Intercept is -2298.3576018937993

In [48]:
print ('P Value is {}'.format(result.pvalue))

P Value is 3.0448096265906994e-150

In [55]:
print ('The predicted price of a diamond with the weight of {} is ${}. '.format(0.9, 0.9 * result.slope+result.intercept))

The predicted price of a diamond with the weight of 0.9 is $8140.638009700279.

In [56]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 16.5 MB/s
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.4.4)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.15.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [63]:
from textblob import TextBlob

In [62]:
result = TextBlob ('I love dog')

In [66]:
print ('The Polarity is {}'.format(result.sentiment.polarity))

The Polarity is 0.5

In [67]:
print ('The Subjectivity is {}'.format(result.sentiment.subjectivity))

The Subjectivity is 0.6